<md-fab-toolbar md-open="false" count="0" md-direction="left">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="reorder" class="md-fab md-primary">
      <md-icon class="material-icons md-light md-48"> reorder </md-icon>
    </md-button>
  </md-fab-trigger>
  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button aria-label="comment" class="md-icon-button" href='#patient'>
        <md-icon class="material-icons md-light md-48">accessibility</md-icon>
      </md-button>
      <md-button aria-label="label" class="md-icon-button">
        <md-icon class="material-icons md-light md-48">assignment ind</md-icon>
      </md-button>
      <md-button aria-label="photo" class="md-icon-button">
        <md-icon class="material-icons md-light md-48">assignment</md-icon>
      </md-button>
      <md-button aria-label="photo" class="md-icon-button" href='#newPatient'>
        <md-icon class="material-icons md-light md-48">add alert</md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>